<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Winform_Login.Properties.Settings.week3ConnectionString"
      connectionString="Data Source=SISWA-RPL-003\MSSQLSERVER02;Initial Catalog=week3;Integrated Security=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
    <add name="Winform_Login.Properties.Settings.LEGIONConnectionString"
      connectionString="Data Source=LAPTOP-SL3N9LFD;Initial Catalog=LEGION;Integrated Security=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
    <add name="Winform_Login.Properties.Settings.wutwutConnectionString"
      connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=wutwut;Integrated Security=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
    <add name="Winform_Login.Properties.Settings.tabolaConnectionString"
      connectionString="Data Source=SISWA-RPL-36\MSSQLSERVER01;Initial Catalog=tabola;Integrated Security=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
    <add name="Winform_Login.Properties.Settings.AsusConnectionString"
      connectionString="Data Source=DESKTOP-62UUGGH;Initial Catalog=Asus;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
    <add name="Winform_Login.Properties.Settings.tabolaConnectionString1"
      connectionString="Data Source=SISWA-RPL-36\MSSQLSERVER01;Initial Catalog=tabola;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
    <add name="Winform_Login.Properties.Settings.week3ConnectionString1"
      connectionString="Data Source=SISWA-RPL-003\MSSQLSERVER02;Initial Catalog=week3;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
    <add name="Winform_Login.Properties.Settings.AsusConnectionString1"
      connectionString="Data Source=DESKTOP-EO4MCEI;Initial Catalog=Asus;Integrated Security=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
    <add name="Winform_Login.Properties.Settings.LEGIONConnectionString1"
      connectionString="Data Source=LAPTOP-SL3N9LFD;Initial Catalog=LEGION;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
    <add name="Winform_Login.Properties.Settings.AsusConnectionString2"
      connectionString="Data Source=DESKTOP-EO4MCEI;Initial Catalog=Asus;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
    <add name="Winform_Login.Properties.Settings.SalesConnectionString"
      connectionString="Data Source=SISWA-RPL-36\MSSQLSERVER02;Initial Catalog=Sales;Integrated Security=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
    <add name="Winform_Login.Properties.Settings.AsusConnectionString3"
      connectionString="Data Source=SISWA-RPL-36\MSSQLSERVER02;Initial Catalog=Asus;Integrated Security=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v15.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>