<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="CurrencyEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-EO4MCEI;initial catalog=CurrencyConverter;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="CurrencyConvert.Properties.Settings.CurrencyConverterConnectionString"
      connectionString="Data Source=DESKTOP-62UUGGH;Initial Catalog=CurrencyConverter;Integrated Security=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
    <add name="CurrencyConvert.Properties.Settings.CurrencyConverterConnectionString1"
      connectionString="Data Source=DESKTOP-EO4MCEI;Initial Catalog=CurrencyConverter;Integrated Security=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>